saved
{{#each article}}
{{#if saved}}
<div class="container border mb-2 p-2">
    <a href="https://www.freecodecamp.org/{{this.link}}" target="_blank" class="lead">{{this.title}}</a>
    <h5 class="text-muted">by: {{this.author}}</h5>
    <p>{{this.tags}}</p>
    <button class="btn btn-secondary comment" id="{{this._id}}" data-id="{{this._id}}" data-target="#{{this._id}}" data-toggle="modal">Comment</button>
    <button class="btn btn-danger delete" id="{{this._id}}">Delete</button>
</div>
{{/if }}
{{/each}}