saved
<div class="container button-container d-flex justify-content-center">
<a class="btn btn-secondary button-container justify-content-center mb-4" href="/">Home</a>

</div>

{{#each saved}}

<div class="container border mb-2 p-2 bg-light" >
    <a href="https://www.freecodecamp.org/{{this.link}}" target="_blank" class="lead">{{this.title}}</a>
    <h5 class="text-muted">by: {{this.author}}</h5>
    <p>{{this.tags}}</p>
    <div class="input-group mb-3 container">
        <input type="text" class="form-control comment-input" placeholder="leave a comment"  id="input-{{this._id}}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary comment" type="button" id="{{this._id}}">Add Comment</button>
        </div>
    </div>
    
    <button class="btn btn-danger delete" id="{{this._id}}">Delete</button>
    <a class="btn btn-primary view-comment" id="{{this._id}}">see comment</a>
    
</div>
{{/each}}

<div class="modal" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modal-text">Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>